<template>
  <div id="app">
    <Header></Header>
    <Sidebar></Sidebar>
    <div class="content-container">

      <div class="container-fluid">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
          <br>
          <div class="content">
            <div class="container-fluid">
              <div class="page-header d-print-none">
                <div class="row align-items-center">
                  <div class="col">
                    <h2 class="page-title">{{ page.title }}</h2>
                  </div>
                </div>
              </div>
            </div>

<!--            <b-modal id="modal-xl" size="xl" title="Добавить офис" hide-footer>-->
<!--              <form action="http://localhost:3000/rents">-->
<!--                <div class="row g-3">-->
<!--                  <div class="col-md-6">-->
<!--                    <input type="text" name="admin" class="form-control" placeholder="Админстрация" v-model="admin">-->
<!--                  </div>-->
<!--                  <div class="col-md-6">-->
<!--                    <input type="text" name="bc_name" class="form-control" placeholder="Название БЦ" v-model="bc_name">-->
<!--                  </div>-->
<!--                  <div class="col-md-6">-->
<!--                    <input type="text" name="address" class="form-control" placeholder="Адрес" v-model="address">-->
<!--                  </div>-->
<!--                  <div class="col-md-6">-->
<!--                    <input type="text" name="area" class="form-control" placeholder="Площадь кв.м" v-model="area">-->
<!--                  </div>-->
<!--                  <div class="col-md-6">-->
<!--                    <input type="number" name="room" class="form-control" placeholder="Номер кабинета" v-model="room">-->
<!--                  </div>-->
<!--                  <div class="col-md-6">-->
<!--                    <input type="number" name="level" class="form-control" placeholder="Номер этажа" v-model="level">-->
<!--                  </div>-->
<!--                  <div class="col-12">-->
<!--                    <textarea type="text" class="form-control" placeholder="Доп.услуги" v-model="options"></textarea>-->
<!--                  </div>-->
<!--                  <div class="col-md-6">-->
<!--                    <button type="submit" class="btn btn-primary" v-on:@click="addOffice">Submit</button>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </form>-->
<!--            </b-modal>-->

            <br>
                    <div class="page-content page-container" id="page-content">
                      <div class="padding">

                        <div class="row container d-flex justify-content-center">
                          <div class="col-lg-12 grid-margin stretch-card">

                            <div class="card" v-for="building in fullBuildings" v-bind:key="building.id">

                              <div class="card-body">
                                <div style="display: flex; justify-content: space-between; ">
                                <h4 class="card-title" >{{ building.title }}</h4>
                                  <p class="card-description">    Контакты: {{building.contacts}}<p>
                                  <p class="card-description">Владелец: {{building.author}}</p>
                                  <p class="card-description">Адрес: {{building.address}}</p>
                                  <b-button v-b-modal.modal-xl variant="primary">+</b-button>
                                </div>

                                <table class="table">
                                  <thead class="thead-light">
                                  <tr>
                                    <th scope="col">Статус</th>
                                    <th scope="col">Адрес</th>
                                    <th scope="col">Площадь</th>
                                    <th scope="col">Этаж</th>
                                    <th scope="col">Номер офиса</th>

                                  </tr>
                                  </thead>

                                  <tbody>
                                  <tr v-for="office in building.office" v-bind:key="office.id">
                                    <td v-if="office.status==true">
                                      <button type="button" class="btn btn-success">Свободно</button>
                                    </td>
                                    <td v-else>
                                      <button type="button" class="btn btn-danger">Занято</button>
                                    </td>
                                    <td>{{office.address}}</td>
                                    <td>{{office.area}}</td>
                                    <td>{{office.level}}</td>
                                    <td>{{office.room}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>

      </div>
    </div>

  </div>
</template>

<script>
import Sidebar from "@/components/Sidebar";
import Header from "@/components/Header";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "App",
  computed: {
    ...mapGetters([
      'fullBuildings',
    ]),
  },
  data() {
    return {
      page: {
        title: 'Бизнес-центры',
        type: 'supply'
      },
      rents: {
        buildings: [],
        offices: [],
      },
    };
  },
  components:{
    Sidebar,
    Header
  },
  created() {
    this.$store.dispatch('loadBuildings');


    // this.GET_OfficeList_FROM_API();
    // if (typeof this.$route.query.s != 'undefined') {
    //   this.search = this.$route.query.s
    // }
  },
  mounted() {
  },
  methods: {
    ...mapActions([
    ]),
  },
};
</script>