<template>
  <div id="app">
    <Header></Header>
    <Sidebar></Sidebar>
    <div class="content-container">
      <div class="container-fluid">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
                <div style=" text-align:center;">
                  <br>
                  <div class="content">

                    <div class="container-fluid">
                      <div class="page-header d-print-none">
                        <div class="row align-items-center">
                          <div class="col">
                            <h2 class="page-title">{{ page.title }}</h2>
                          </div>
                          <div class="col-auto ms-auto d-print-none">
                            <div class="btn-list">
                              <b-button v-b-modal.modal-create variant="primary" class="btn btn-success">Добавить</b-button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <b-modal id="modal-edit" size="xl" title="Редактировать офис" hide-footer>
                      <form @submit.prevent = "editOffice"
                            method="post">
                        <div class="row g-3">
                          <div class="col-md-6">
                            <input type="text" name="admin" class="form-control" placeholder="Админстрация" v-model="admin">
                          </div>
                          <div class="col-md-6">
                            <input type="text" name="address" class="form-control" placeholder="Адрес" v-model="address">
                          </div>
                          <div class="col-md-6">
                            <input type="text" name="area" class="form-control" placeholder="Площадь кв.м" v-model="area">
                          </div>
                          <div class="col-md-6">
                            <input type="number" name="room" class="form-control" placeholder="Номер кабинета" v-model="room">
                          </div>
                          <div class="col-md-6">
                            <input type="number" name="level" class="form-control" placeholder="Номер этажа" v-model="level">
                          </div>
                          <div class="col-12">
                            <textarea type="text" class="form-control" placeholder="Доп.услуги" v-model="options"></textarea>
                          </div>
                          <div class="col-md-6">
                            <input type="number" name="level" class="form-control" placeholder="цена" v-model="cost">
                          </div>
                          <div class="col-md-6">
                            <input type="number" name="level" class="form-control" placeholder="ststus" v-model="status">
                          </div>
                          <div class="col-md-6">
                            <select id="title">
                              <option value="volvo" >Volvo</option>
                              <option value="saab">Saab</option>
                              <option value="mercedes">Mercedes</option>
                              <option value="audi">Audi</option>
                            </select>
                          </div>

                          <div class="col-md-6">
                            <input type="number" name="level" class="form-control" placeholder="bc id" v-model="bcID">
                          </div>

                          <!--                          <div class="col-12">-->
                          <!--                            <div class="form-check form-switch">-->
                          <!--                              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>-->
                          <!--                              <label class="form-check-label" for="flexSwitchCheckChecked">свободно / занято</label>-->
                          <!--                            </div>-->
                          <!--                          </div>-->

                          <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                          </div>


                        </div>
                      </form>
                    </b-modal>

                    <b-modal id="modal-create" size="xl" title="Добавить офис" hide-footer>
                      <form @submit.prevent = "checkForm"
                            method="post">
                        <div class="row g-3">
                          <div class="col-md-6">
                            <input type="text" name="admin" class="form-control" placeholder="Админстрация" v-model="admin">
                          </div>
                          <div class="col-md-6">
                            <input type="text" name="address" class="form-control" placeholder="Адрес" v-model="address">
                          </div>
                          <div class="col-md-6">
                            <input type="text" name="area" class="form-control" placeholder="Площадь кв.м" v-model="area">
                          </div>
                          <div class="col-md-6">
                            <input type="number" name="room" class="form-control" placeholder="Номер кабинета" v-model="room">
                          </div>
                          <div class="col-md-6">
                            <input type="number" name="level" class="form-control" placeholder="Номер этажа" v-model="level">
                          </div>
                          <div class="col-12">
                            <textarea type="text" class="form-control" placeholder="Доп.услуги" v-model="options"></textarea>
                          </div>
                          <div class="col-md-6">
                            <input type="number" name="level" class="form-control" placeholder="цена" v-model="cost">
                          </div>
                          <div class="col-md-6">
                            <input type="number" name="level" class="form-control" placeholder="ststus" v-model="status">
                          </div>
                          <div class="col-md-6">
                            <input type="number" name="level" class="form-control" placeholder="bc id" v-model="bcID">
                          </div>
<!--                          <div class="col-12">-->
<!--                            <div class="form-check form-switch">-->
<!--                              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>-->
<!--                              <label class="form-check-label" for="flexSwitchCheckChecked">свободно / занято</label>-->
<!--                            </div>-->
<!--                          </div>-->
                          <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                          </div>
                        </div>
                      </form>
                    </b-modal>


                    <br>
                    <input class="form-control form-control-lg form-control-borderless" type="text" v-model="search" placeholder="search offices" @input="changeSearch">
                    <br>

                    <div class="app-content">
                      <vue-range-slider v-model="cost" :min="min" :max="max" :formatter="formatter"></vue-range-slider>
                    </div>

                    <template >
                      <table class="table">
                        <thead class="thead-light">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Статус</th>
                          <th scope="col">Админстрация</th>
                          <th scope="col">Этаж</th>
                          <th scope="col">Услуги</th>
                          <th scope="col">Номер офиса</th>
                          <th scope="col">Площадь</th>
                          <th scope="col">Цена</th>
                          <th scope="col">Название БЦ</th>
                          <th scope="col">Удаление</th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="office in pageOfItems" v-bind:key="office.id">
                          <th scope="row"> {{ office.id }}</th>
                          <td v-if="office.status===1">
                            <button type="button" class="btn btn-success">Свободно </button>
                          </td>
                          <td v-else>
                            <button type="button" class="btn btn-danger">Занято</button>
                          </td>
                          <td> {{ office.admin }}</td>
                          <td>{{ office.level }}</td>
                          <td>{{ office.options }}</td>
                          <td>{{ office.room }}</td>
                          <td>{{ office.area }}</td>
                          <td>{{ office.cost }}</td>
                          <td>{{ office.title }}</td>

                          <td style="align-items: center">
                            <button v-b-modal.modal-edit >
<!--                              <router-link :to="'/edit/' + office.room" class="badge badge-warning">Edit</router-link>-->
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                              </svg>
                            </button>

                            <button    @click="deleteOffice(office)">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg>

                            </button>

<!--                            <button class="btn btn-danger btn-sm" @click="deleteOffice(office)">Delete</button>-->
<!--                            <button class="btn btn-danger btn-sm" v-b-modal.modal-edit>Редактировать</button>-->
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </template>

                    <div class="card-footer pb-0 pt-3">
                      <jw-pagination :items="filteredOffices" :initialPage="1"  @changePage="onChangePage" :pageSize="5"></jw-pagination>
                    </div>

                  </div>
                </div>
        </div>
      </div>
  </div>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Sidebar from "@/components/Sidebar";
import 'vue-range-component/dist/vue-range-slider.css';
import VueRangeSlider from 'vue-range-component';
// import axios from "axios";
// import mapActions from "vuex/dist/vuex.mjs";
// import {mapActions, mapGetters} from 'vuex'
// import store from "@/vuex/store";


export default {
  name: "App",
  components: {
    Header,
    Sidebar,
    VueRangeSlider,
  },
  metaInfo() {
    return {
      title: this.page.title,
      value: []
    }
  },
  data() {
    return {
      customLabels: {
        first: 'В начало',
        last: 'В конец',
        previous: '<',
        next: '>'
      },
      pageOfItems:[],
      page: {
        title: 'Бизнес-центры и офисы. Каталог',
        type: 'supply'
      },
      search: '',
      new_office:{
        admin: '',
        area: '',
        bc_name: '',
        address: '',
        room: '',
        level: '',
        options: '',
        status: '',
        cost: '',
        bcID: ''
      }
    }
  },
  computed: {
    // eslint-disable-next-line vue/no-dupe-keys
    office() {
      return this.$store.getters.office;
    },
    filteredOffices: function () {
      console.log('Filtering', typeof this.search)
      console.log(this.office)
      return this.office.filter((item) => {
        return item.admin.toLowerCase().match(new RegExp(this.search, 'ig'));
        //return item.admin.indexOf(this.search >= 0)
      })
    }
  },
  created() {
    this.$store.dispatch('loadPosts');
  },
  methods: {
    deleteOffice({room}) {
      this.$store.dispatch('deleteOffice', room);
    },

    editOffice({room}){
      this.$store.dispatch('updateOffice', room);
    },

    changeSearch() {
      if (this.search.length) {
        this.$router.replace({name: 'Home', query: {s: this.search}})
      } else {
        this.$router.replace({name: 'Home'})
      }
    },
    onChangePage(pageOfItems) {
      // update page of items
      this.pageOfItems = pageOfItems;
    },
    async checkForm(e) {
      console.log("check form")
      e.preventDefault();
      let new_office = {
        admin: this.admin,
        area: this.area,
        address: this.address,
        room: this.room,
        level: this.level,
        options: this.options,
        status: this.status,
        cost: this.cost,
        bcID: this.bcID
      }
      await this.$store.dispatch('addOffice', new_office)
    },
  },
  mounted() {}
  }
</script>



<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
