<template>
  <div id="app">
    <Header></Header>
    <Sidebar></Sidebar>

    <div class="content-container">

      <div class="container-fluid">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div style=" text-align:center;">
            <br>
            <div class="content">

              <div class="container-fluid">
                <div class="page-header d-print-none">
                  <div class="row align-items-center">
                    <div class="col">
                      <h2 class="page-title">{{ page.title }}</h2>
                    </div>
                    <div class="col-auto ms-auto d-print-none">
                      <div class="btn-list">
                        <b-button v-b-modal.modal-xl variant="primary">Добавить</b-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <b-modal id="modal-xl" size="xl" title="Добавить client" hide-footer>
                <form @submit.prevent="send"
                      method="post">
                  <div class="row g-3">
                    <div class="col-md-6">
                      <input type="text" name="c_name" class="form-control" placeholder="Адрес" v-model="c_name">
                    </div>
                    <div class="col-md-6">
                      <input type="text" name="cost" class="form-control" placeholder="Площадь кв.м" v-model="cost">
                    </div>
                    <div class="col-md-6">
                      <button type="submit" class="btn btn-primary" >Submit</button>
                    </div>
                  </div>
                </form>
              </b-modal>

              <br>
              <input class="form-control form-control-lg form-control-borderless" type="text" v-model="search" placeholder="search offices" @input="changeSearch">
              <br>

              <template>

                <table class="table">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">Клиент ИД</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Цена</th>
                  </tr>

                  </thead>

                  <tbody>
                  <tr v-for="item in filteredClients" v-bind:key="item.id">
                    <th scope="row"> {{ item.c_id }}</th>
                    <td> {{ item.c_name }}</td>
                    <td>{{ item.cost }}</td>
                  </tr>
                  </tbody>

                </table>


              </template>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Sidebar from "@/components/Sidebar";
import {mapActions, mapGetters} from 'vuex'
// import axios from "axios";
// import store from "@/vuex/store";



export default {
  name: "App",
  components: {
    Header,
    Sidebar,
  },
  metaInfo() {
    return {
      title: this.page.title
    }
  },
  data() {
    return {
      page: {
        title: 'Клиенты',
        type: 'supply'
      },
      search: '',
      clients: [],
      newClients:{
        c_id: '',
        c_name: '',
        cost: '',
      }
    }
  },
  computed: {
    ...mapGetters([
      'Clients',
    ]),
    filteredClients: function () {
      console.log('Filtering', typeof this.search)
      console.log(this.Clients)
      return this.clients.filter((item) => {
        return item.c_name.toLowerCase().match(new RegExp(this.search, 'ig'));
        //return item.admin.indexOf(this.search >= 0)
      })
    }
  },
  created() {
    this.GET_Clients_FROM_API();
    if (typeof this.$route.query.s != 'undefined') {
      this.search = this.$route.query.s
    }
  },
  mounted() {},
  methods: {
    ...mapActions([
      // 'GET_OfficeList_FROM_API',
      // 'addOffice',
      'GET_Clients_FROM_API'
    ]),
    changeSearch() {
      if (this.search.length) {
        this.$router.replace({name: 'Home', query: {s: this.search}})
      } else {
        this.$router.replace({name: 'Home'})
      }
    },
    async send(e) {
      console.log(e)
      e.preventDefault();
      let newClients = {
        c_id: this.c_id,
        c_name: this.c_id,
        cost: this.cost
      }
      await this.$store.dispatch('addClient', newClients)

    }
  },
}
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
