<template>
  <div id="app">
    <Header></Header>
    <Sidebar></Sidebar>
    <div class="content-container">
      <template >
      <div class="container-fluid">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div style=" text-align:center;">
            <br>
            <div class="content">

              <div class="container-fluid">
                <div class="page-header d-print-none">
                  <div class="row align-items-center">

                    <div class="col">
                      <h2 class="page-title">{{ page.title }}</h2>
                    </div>

                    <div class="col-auto ms-auto d-print-none">
                      <div class="btn-list">
                        <b-button v-b-modal.modal-xl variant="primary" class="btn btn-success">Добавить</b-button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

<!--              v-model="search"-->

<!--              @input="changeSearch"-->
              <br>
              <input class="form-control form-control-lg form-control-borderless" type="text" placeholder="search offices" >
              <br>

              <div class="card" style="margin-top: 20px" >
                <div class="card-header">Заяка №  </div>
                <div class="card-body"><table class="table">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">Статус</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Имя отправителя заявки</th>
                    <th scope="col">Номер заявки</th>
                    <th scope="col">Офис</th>
                    <th scope="col">Наименование БЦ</th>
                    <th scope="col">Ред.</th>


                  </tr>
                  </thead>

                  <tbody>
                  <tr v-for="request in requests" v-bind:key="request.id" >

                    <td v-if="request.is_active===1">
                      <button type="button" class="btn btn-success"> Принят </button>
                    </td>
                    <td v-else-if="request.is_active===2">
                      <button type="button" class="btn btn-success"> В ожидании </button>
                    </td>
                    <td v-else>
                      <button type="button" class="btn btn-danger"> Отказ</button>
                    </td>
                    <td> {{ request.DateCreate }}</td>
                    <td>{{ request.FullName }}</td>
                    <td>{{ request.id }}</td>
                    <td>{{ request.room }}</td>
                    <td>{{ request.title }}</td>
                    <td><button class="btn btn-danger btn-sm" @click="deleteRequest(request)">Delete</button></td>
                    <!--                <td>{{item.status}}</td>-->
                  </tr>
                  </tbody>
                </table></div>
<!--                <div class="card-footer">ghh</div>-->
              </div>

<!--              <div class="card-footer pb-0 pt-3">-->
<!--                <jw-pagination :items="filteredOffices" :initialPage="1"  @changePage="onChangePage" :pageSize="5"></jw-pagination>-->
<!--              </div>-->

            </div>
          </div>
        </div>
      </div>
      </template></div>

  </div>
</template>

<script>
import Header from "@/components/Header";
import Sidebar from "@/components/Sidebar";


export default {
  name: "App",
  components: {
    Header,
    Sidebar,

  },
  metaInfo() {
    return {
      title: this.page.title,
    }
  },
  data() {
    return {
      customLabels: {
        first: 'В начало',
        last: 'В конец',
        previous: '<',
        next: '>'
      },
      page: {
        title: 'Заявки на аренду',
        type: 'supply'
      },

    }
  },
  computed: {
    // eslint-disable-next-line vue/no-dupe-keys
    requests() {
      return this.$store.getters.requests;
    },
    // filteredOffices: function () {
    //   console.log('Filtering', typeof this.search)
    //   console.log(this.office)
    //   return this.office.filter((item) => {
    //     return item.admin.toLowerCase().match(new RegExp(this.search, 'ig'));
    //     //return item.admin.indexOf(this.search >= 0)
    //   })
    // }
  },
  created() {
    this.$store.dispatch('loadRequests');

  },
  methods: {
    deleteRequest({id}) {
      this.$store.dispatch('deleteRequest', id);
    },

    // changeSearch() {
    //   if (this.search.length) {
    //     this.$router.replace({name: 'request', query: {s: this.search}})
    //   } else {
    //     this.$router.replace({name: 'request'})
    //   }
    // },
    // onChangePage(pageOfItems) {
    //   // update page of items
    //   this.pageOfItems = pageOfItems;
    // },
    // async checkForm(e) {
    //   console.log("check form")
    //   e.preventDefault();
    //   let new_office = {
    //     admin: this.admin,
    //     area: this.area,
    //     address: this.address,
    //     room: this.room,
    //     level: this.level,
    //     options: this.options,
    //     status: this.status,
    //     cost: this.cost,
    //     bcID: this.bcID
    //   }
    //   await this.$store.dispatch('addOffice', new_office)
    // },

    // deleteOffice(id) {
    //   axios.delete("http://192.168.17.188:5001/office" + id)
    //       .then(() => {
    //         this.result.splice(id, 1);
    //       });
    // },
  },
  mounted() {}
}
</script>



<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
