<template>
  <div>
    <button v-b-modal.modal-edit ></button>
  <b-modal id="modal-edit" size="xl" title="Редактировать офис" hide-footer>
    <form @submit.prevent = "checkForm"
          method="post">
      <div class="row g-3">
        <div class="col-md-6">
          <input type="text" name="admin" class="form-control" placeholder="Админстрация" v-model="admin">
        </div>
        <div class="col-md-6">
          <input type="text" name="address" class="form-control" placeholder="Адрес" v-model="address">
        </div>
        <div class="col-md-6">
          <input type="text" name="area" class="form-control" placeholder="Площадь кв.м" v-model="area">
        </div>
        <div class="col-md-6">
          <input type="number" name="room" class="form-control" placeholder="Номер кабинета" v-model="room">
        </div>
        <div class="col-md-6">
          <input type="number" name="level" class="form-control" placeholder="Номер этажа" v-model="level">
        </div>
        <div class="col-12">
          <textarea type="text" class="form-control" placeholder="Доп.услуги" v-model="options"></textarea>
        </div>
        <div class="col-md-6">
          <input type="number" name="level" class="form-control" placeholder="цена" v-model="cost">
        </div>
        <div class="col-md-6">
          <input type="number" name="level" class="form-control" placeholder="ststus" v-model="status">
        </div>
        <div class="col-md-6">
          <select id="title">
            <option value="volvo" >Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>        </div>

        <div class="col-md-6">
          <input type="number" name="level" class="form-control" placeholder="bc id" v-model="bcID">
        </div>

        <!--                          <div class="col-12">-->
        <!--                            <div class="form-check form-switch">-->
        <!--                              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>-->
        <!--                              <label class="form-check-label" for="flexSwitchCheckChecked">свободно / занято</label>-->
        <!--                            </div>-->
        <!--                          </div>-->

        <div class="col-md-6">
          <button type="submit" class="btn btn-primary" >Submit</button>
        </div>


      </div>
    </form>
  </b-modal>
  </div>

</template>

<script>

export default {
  name: "Edit",
  }
</script>