<template>
  <div>
    <div v-for="office in office" v-bind:key="office.id">
      <h2>{{ office.admin }}</h2>
      <p>{{ office.area }}</p>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    office() {
      return this.$store.getters.office;
    },
  },
  created() {
    this.$store.dispatch('loadPosts');
  },
}
</script>