<template>
	<footer class="footer footer-transparent d-print-none">
		<div class="container-fluid">
			<div class="row text-center align-items-center flex-row-reverse">
				<div class="col-lg-auto ms-lg-auto">
					<ul class="list-inline list-inline-dots m-0">
						<li class="list-inline-item">
							<a href="https://preview.tabler.io/license.html" class="link-secondary">System Design License</a>
						</li>
					</ul>
				</div>
				<div class="col-12 col-lg-auto mt-3 mt-lg-0">
					<ul class="list-inline list-inline-dots m-0">
						<li class="list-inline-item">
							Copyright © 2021
							<a href="." class="link-secondary">KJT</a>.
							All rights reserved.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	name: "Footer"
}
</script>

<style scoped>

</style>