<template>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid ">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-20 link-light text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Office Rent</span>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Link</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Disabled</a>-->
<!--          </li>-->
        </ul>

        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="..." aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
      </div>
    </div>
  </nav>
</template>


<script>
export default {
  name: "Header",

}
</script>



