<template>
  <div>
    <div class="sidebar-container">
      <ul class="sidebar-navigation">
        <br>
        <li class="header">
          <router-link to="/bc">Бизнес центры</router-link>
        </li >
        <li class="header">
          <router-link to="/">Офисы</router-link>

        </li>
        <li class="header">
          <router-link to="/client">Клиенты</router-link>

        </li>
        <li class="header">
          <router-link to="/request">Заявки</router-link>
        </li>

      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "Sidebar",
}
</script>


<style>
.sidebar-container {
  position: absolute;
  width: 220px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #262626;
  color: #fff;
}

.sidebar-navigation {
  justify-content: center;
  text-align: start;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: white;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #2574A9;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 14px;
  text-transform: uppercase;
  background-color: #262626;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: white;
}

.content-container {
  padding-left: 220px;
}
</style>
